* {
    font-family: Helvetica; 
    background-color: #ffebcd; 
    }
    
    
    h1 {
      color: cadetblue;
      background-color: thistle;
      text-align: center;
      font-weight: 200;
    }
    
    h2 {
      color: cadetblue;
      text-align: center;
      background-color: thistle;
      margin: 1em;
    }
    
    table {
      margin: 5em;
      border: 4mm ridge rgba(211, 220, 50, .6);
    }
    
    thead {
      color: cadetblue;
      background-color: thistle;
      border-style: inset;
    }
    
    .code {
      font-family: monospace;
      color: red;
      background-color: black;
      
    }